/* App Fonts */
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
    font-family: 'Poppins', sans-serif;
}

/* ###### EXTRAS ####### */
.t-pagecontainer .t-row {
    margin-bottom: 25px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}
input[type="checkbox"]::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}
input[type="checkbox"],
input[type="checkbox"]::after {
    transition: all 100ms ease-out;
}
input[type="checkbox"]::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}
input[type="checkbox"] {
    cursor: default;
}
input[type="checkbox"]:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}
input[type="checkbox"]:checked {
    background-color: #00BF5C;
}
input[type="checkbox"]:checked::after {
    background-color: #fff;
    left: 13px;
}
input[type="checkbox"]:checked:hover {
    background-color: #02a450 !important;
    transition-duration: 0s;
}
input[type="checkbox"]:checked:hover::after {
    background-color: #fff;
    left: 13px;
}
input[type="checkbox"]:focus:not(.focus-visible) {
    outline: 0;
}

label.text-center.tb-checkbox span {
    margin-left: 10px;
    vertical-align: top;
}

.t-form-checkbox i {
    line-height: 0.75;
    margin-left: 10px;
}

.t-form-checkbox span {
    margin-right: 10px;
    margin-left: 3px !important;
} 

.t-datatable h3,
.t-list h3,
.t-form h3,
.t-detail h3,
.t-search h3,
.t-map h3,
.t-accordion h3,
.t-logincomponent h3,
.t-signupcomponent h3,
.t-profilecomponent h3,
.t-chart {
    padding-bottom: 2rem;
    font-weight: 500;
    font-size: 2rem;
    color: #181C32;
    margin: 0 0 1rem;
}

.t-datatable,
.t-list,
.t-form,
.t-detail,
.t-search,
.t-map,
.t-accordion,
.t-logincomponent,
.t-signupcomponent,
.t-profilecomponent,
.t-chart,
.x-type-resource,
.t-kanban,
.t-timeline,
.t-calendar,
.t-html,
.t-pivottable {
    margin-bottom: 25px;
    background: #fff;
    border-radius: 1.5rem;
    padding: 4rem 2rem;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #7367f0;
    border-color: #7367f0;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #7367f0;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #7367f0;
    background-color: #eee;
    border-color: #ddd;
}

/* ###### BACKGROUND ###### */
body {
    background-color: #1A3AAF;
    overflow: hidden;
}

@media (max-width: 768px) {
    body {
        overflow: auto;
        background: #F6F6F8;
    }
}

/* ###### TABLE ACTIONS ###### */
.table-actions {
    background: transparent !important;
    border: none !important;
}

.table-actions button.btn.btn-default {
    background: none;
    color: #0000008f;
    border: 1px solid #cccccc;
    box-shadow: none;
}
.table-actions button.btn.btn-default:focus {
    outline: none;
}
.table-actions button.btn.btn-default:active {
    box-shadow: none;
}

/* ###### ALERTS ###### */

.alert-danger {
    background-color: #ff7474;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 25px;
}

.alert-success {
    background-color: #41d170;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 25px;
}

/* ###### MENU ###### */
.navbar {
    background: transparent;
    border: none;
    border-radius: 2rem;
    padding: 2rem;
}

.navbar li a {
    color: #1A3AAF !important;
    opacity: 1;
    transition: background-color 0.3s ease;
    transition: opacity 0.2s ease-in;
}

/* PARENT ITEM FONT STYLE */
.navbar ul>li {
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
}

.navbar ul>li>a {
    padding-left: 2rem;
}

/* DROPDOWN MENU BACKGROUND COLOR */
.navbar-default .dropdown-menu>li>a {
    background: transparent;
}

/* MENU ITEM HOVER */
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    background-color: #1A3AAF;
    color: #fff !important;
    border-radius: 25px;
    opacity: 1;
}

/* DROPDOWN MENU ITEM HOVER */
.navbar-default .dropdown-menu>li>a:hover,
.navbar-default .dropdown-menu>li>a:focus {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    background-color: #1A3AAF;
    color: #fff !important;
    border-radius: 25px;
    opacity: 1;
}

@media (min-width: 768px) {
    .x-menu-style-vertical {
        bottom: 0;
        top: 0;
        left: 0;
        height: 95vh;
        margin-top: 2rem;
        overflow: inherit;
        position: fixed;
        width: 225px;
        z-index: 1039;
    }

    .app {
        padding: 4rem;
        margin: 2rem;
        background: #F2F3F9;
        height: 95vh;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
        overflow: auto;
    }

    .x-menu-style-vertical .navbar {
        background: transparent;
        border: none;
        height: 100%;
        padding: 2rem 0;
    }

    .x-menu-style-vertical .navbar {
        border-radius: 0 2rem 2rem 0;
    }

    .x-menu-style-vertical .navbar li a {
        color: #fff !important;
        opacity: 1;
        transition: background-color 0.3s ease;
        transition: opacity 0.2s ease-in;
    }

    /* MENU ITEM HOVER */
    .x-menu-style-vertical .navbar-default .navbar-nav>li>a:hover {
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        background-color: #FF7F79;
        color: #fff !important;
        border-radius: 0 25px 25px 0;
        opacity: 1;

    }

    /* DROPDOWN MENU ITEM HOVER */
    .x-menu-style-vertical .navbar-default .dropdown-menu>li>a:hover,
    .x-menu-style-vertical .navbar-default .dropdown-menu>li>a:focus {
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        background-color: #FF7F79;
        color: #fff !important;
        border-radius: 0 25px 25px 0;
        opacity: 1;
    }
    .x-menu-style-vertical .dropdown-submenu>a:after {
        margin-right: 25px;
    }

    /* PARENT ITEM FONT STYLE */
    .x-menu-style-vertical .navbar ul>li {
        font-size: 14px;
        font-weight: 700;
        margin: 5px 5px 5px 0;
    }

    .x-menu-style-vertical .navbar ul>li>a {
        padding-left: 4rem;
    }

    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    /* HIDE HOVER MENU */
    .x-menu-style-vertical .dropdown-submenu:hover>.dropdown-menu {
        display: none;
    }

    /* cascading indents */
    .navbar i {
        margin-right: 5px;
        font-size: 18px;
    }

    .dropdown-menu i {
        margin-left: 25px;
    }

    .dropdown-menu .dropdown-menu i {
        margin-left: 50px;
    }

    .dropdown-menu .dropdown-menu .dropdown-menu i {
        margin-left: 75px;
    }

    .navbar-default .fal {
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px;
    }

    .navbar-default .fa {
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px;
    }

    .navbar-default .fas {
        font-size: 16px;
        font-weight: 500;
        margin-right: 10px;
    }
}

/* ####### LIST ####### */
.list-row-item {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0px, rgba(0, 0, 0, 0.08) 0 0 0 1px !important;
    border-radius: 1.5rem !important;
    overflow: hidden;
    margin-bottom: 25px;
}

.t-list .list-body .img-responsive {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.t-list .list-cover .img-responsive {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.list-body {
    padding: 0 2rem;
}

/* ####### FORM ####### */
.form-navigation-pages ul li.active>.p-step {
    color: #fff;
    background: #FF7F79;  
}

.form-navigation-pages ul li>.p-step {
    background: #f5f6f9;
}

.form-navigation-pages ul li.active:after, .form-navigation-pages ul li.active>.p-step, .form-navigation-pages ul li:hover:after, .form-navigation-pages ul li:hover>.p-step {
    color: #fff;
    background: #FF7F79;  
}

/* ###### TABLES ######  */
.t-datatable .table-wrap>.table tr {
    color: #3F4254;
    background-color: #fff;
}

.t-datatable table>thead>tr>th {
    font-weight: 600;
    color: #9D9DA1 !important;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: middle;
    background: #f9f9f9;
    border: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.t-datatable thead th:first-child {
    background: #f9f9f9;
    border-radius: 1rem 0 0 1rem;
}
.t-datatable thead th:last-child {
    background: #f9f9f9;
    border-radius: 0 1rem 1rem 0;
}

.t-datatable table {
    border: none;
}
.t-datatable table tbody tr:first-child td {
    border: none;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.t-datatable table tbody tr:not(:first-child) td {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #f0efef;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.t-datatable a.td-link.td-data-link {
    background: #f3f6f9;
    padding: 8px;
    border-radius: 0.4rem;
}

.t-datatable .td-data-link i.fa {
    color: #3699FF;
}
.t-datatable .td-data-link:hover i {
    color: white;
}
.t-datatable table a:not(.btn) {
    text-decoration: none;
}

.t-datatable .input-group input.form-control.input-sm.padder {
    border-right: none;
    border: 1px solid #ddd;
    box-shadow: unset;
}

.t-datatable .input-group-btn {
    border: 1px solid #ddd;
    background: none;
    border-left: none;
}

.t-datatable .input-group-btn .btn {
    background: none;
    color: #ddd;
    padding: 0 10px;
}
.t-datatable .input-group-btn .btn:focus {
    outline: none;
}
.t-datatable .input-group-btn .btn:active {
    box-shadow: none;
}

.filter-tabs {
    background: transparent;
}

.filter-tabs .nav li a {
    border-radius: 1rem 1rem 0 0;
}

/* ###### CALENDAR ###### */
.t-calendar a {
    color: #7367f0;
}

/* ###### CARD ###### */
.t-card .af-card-component {
    border: none;
}

/* ###### BUTTONS SOLID ###### */
.btn-default i,
.btn-primary i,
.btn-success i,
.btn-info i,
.btn-warning i,
.btn-danger i {
    color: #fff !important;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-default,
.btn.btn-default {
    color: #ffffff;
    background-color: #0055B2;
    border-color: #0055B2;
    outline: unset !important;
    border-radius: 5px;
}
.btn-default:hover,
.btn.btn-default:hover {
    color: #ffffff;
    background-color: #034690;
    border-color: #034690;
}
.btn-default:focus,
.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:active {
    color: #ffffff;
    background-color: #0055B2;
    border-color: #0055B2;
    outline: unset !important;
}

/*=======================================*/
.btn-primary,
.btn.btn-primary {
    color: #ffffff;
    background-color: #FF7F79;
    border-color: #FF7F79;
    outline: unset !important;
    border-radius: 5px;
}
.btn-primary:hover,
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #f5706a;
    border-color: #f5706a;
}
.btn-primary:focus,
.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    color: #ffffff !important;
    background-color: #f5706a !important;
    border-color: #f5706a !important;
    outline: unset !important;
}

/*=======================================*/
.btn-success,
.btn.btn-success {
    color: #ffffff;
    background-color: #00BF5C;
    border-color: #00BF5C;
    outline: unset !important;
    border-radius: 5px;
}
.btn-success:hover,
.btn.btn-success:hover {
    color: #ffffff;
    background-color: #02a450;
    border-color: #02a450;
}
.btn-success:focus,
.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:active {
    color: #ffffff;
    background-color: #02a450;
    border-color: #02a450;
    outline: unset !important;
}

/*=======================================*/
.btn-info,
.btn.btn-info {
    color: #ffffff;
    background-color: #A8679C;
    border-color: #A8679C;
    outline: unset !important;
    border-radius: 5px;
}
.btn-info:hover,
.btn.btn-info:hover {
    color: #ffffff;
    background-color: #954f88;
    border-color: #954f88;
}
.btn-info:focus,
.btn-info:active,
.btn.btn-info:focus,
.btn.btn-info:active {
    color: #ffffff;
    background-color: #954f88;
    border-color: #954f88;
    outline: unset !important;
}

/*=======================================*/
.btn-warning,
.btn.btn-warning {
    color: #ffffff;
    background-color: #FD8448;
    border-color: #FD8448;
    outline: unset !important;
    border-radius: 5px;
}
.btn-warning:hover,
.btn.btn-warning:hover {
    color: #ffffff;
    background-color: #ee6f2f;
    border-color: #ee6f2f;
}
.btn-warning:active,
.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning:focus {
    color: #ffffff;
    background-color: #ee6f2f;
    border-color: #ee6f2f;
    outline: unset !important;
}

/*=======================================*/
.btn-danger,
.btn.btn-danger {
    color: #ffffff;
    background-color: #BC2325;
    border-color: #BC2325;
    outline: unset !important;
    border-radius: 5px;
}
.btn-danger:hover,
.btn.btn-danger:hover {
    color: #ffffff;
    background-color: #a91719;
    border-color: #a91719;
}
.btn-danger:focus,
.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-danger:active {
    color: #ffffff;
    background-color: #a91719;
    border-color: #a91719;
    outline: unset !important;
}

/* ###### BUTTONS OUTLINED ###### */
.btn-outline.btn-default i {
    color: #616060 !important;
}
.btn-outline.btn-default:hover i {
    color: #fff !important;
}

.btn-outline.btn-default,
.btn-outline.btn.btn-default {
    color: #0055B2;
    background-color: #fff;
    border-color: #0055B2;
    outline: unset !important;
    border-radius: 5px;
}
.btn-default:hover,
.btn.btn-default:hover {
    color: #ffffff;
    background-color: #034690;
    border-color: #034690;
}
.btn-default:focus,
.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:active {
    color: #ffffff;
    background-color: #034690;
    border-color: #034690;
    outline: unset !important;
}

/*=======================================*/
.btn-outline.btn-primary i {
    color: #FF7F79 !important;
}
.btn-outline.btn-primary:hover i {
    color: #fff !important;
}

.btn-outline.btn-primary,
.btn-outline.btn.btn-primary {
    color: #FF7F79;
    background-color: #fff;
    border-color: #FF7F79;
    outline: unset !important;
    border-radius: 5px;
}
.btn-primary:hover,
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #f5706a;
    border-color: #f5706a;
}
.btn-primary:focus,
.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    color: #ffffff !important;
    background-color: #f5706a !important;
    border-color: #f5706a !important;
    outline: unset !important;
}

/*=======================================*/
.btn-outline.btn-success i {
    color: #00BF5C !important;
}
.btn-outline.btn-success:hover i {
    color: #fff !important;
}

.btn-outline.btn-success,
.btn-outline.btn.btn-success {
    color: #00BF5C;
    background-color: #fff;
    border-color: #00BF5C;
    outline: unset !important;
    border-radius: 5px;
}
.btn-success:hover,
.btn.btn-success:hover {
    color: #ffffff;
    background-color: #02a450;
    border-color: #02a450;
}
.btn-success:focus,
.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:active {
    color: #ffffff;
    background-color: #02a450;
    border-color: #02a450;
    outline: unset !important;
}

/*=======================================*/
.btn-outline.btn-info i {
    color: #A8679C !important;
}
.btn-outline.btn-info:hover i {
    color: #fff !important;
}

.btn-outline.btn-info,
.btn-outline.btn.btn-info {
    color: #A8679C;
    background-color: #fff;
    border-color: #A8679C;
    outline: unset !important;
    border-radius: 5px;
}
.btn-info:hover,
.btn.btn-info:hover {
    color: #ffffff;
    background-color: #954f88;
    border-color: #954f88;
}
.btn-info:focus,
.btn-info:active,
.btn.btn-info:focus,
.btn.btn-info:active {
    color: #ffffff;
    background-color: #954f88;
    border-color: #954f88;
    outline: unset !important;
}

/*=======================================*/
.btn-outline.btn-warning i {
    color: #FD8448 !important;
}
.btn-outline.btn-warning:hover i {
    color: #fff !important;
}

.btn-outline.btn-warning,
.btn-outline.btn.btn-warning {
    color: #FD8448;
    background-color: #fff;
    border-color: #FD8448;
    outline: unset !important;
    border-radius: 5px;
}
.btn-warning:hover,
.btn.btn-warning:hover {
    color: #ffffff;
    background-color: #ee6f2f;
    border-color: #ee6f2f;
}
.btn-warning:active,
.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning:focus {
    color: #ffffff;
    background-color: #ee6f2f;
    border-color: #ee6f2f;
    outline: unset !important;
}

/*=======================================*/
.btn-outline.btn-danger i {
    color: #BC2325 !important;
}
.btn-outline.btn-danger:hover i {
    color: #fff !important;
}

.btn-outline.btn-danger,
.btn-outline.btn.btn-danger {
    color: #BC2325;
    background-color: #fff;
    border-color: #BC2325;
    outline: unset !important;
    border-radius: 5px;
}
.btn-danger:hover,
.btn.btn-danger:hover {
    color: #ffffff;
    background-color: #a91719;
    border-color: #a91719;
}
.btn-danger:focus,
.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-danger:active {
    color: #ffffff;
    background-color: #a91719;
    border-color: #a91719;
    outline: unset !important;
}

/* ######## DATE PICKER ####### */
.t-form-date .btn-default {
    background: #0055B2;
    border: 2px solid #0055B2;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.t-form-date .btn-default:hover {
    background-color: #0055B2;
    border-color: #0055B2;
}
.t-form-date .btn-default:focus,
.t-form-date .btn-default:active {
    background-color: #0055B2;
    border-color: #0055B2;
    outline: unset !important;
}

.uib-left {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-left i {
    color: #000 !important;
    margin-left: 0;
}

.uib-title {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
    color: #000 !important;
}
.uib-title i {
    color: #000 !important;
    margin-left: 0;
}

.uib-right {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-right i {
    color: #000 !important;
    margin-left: 0;
}

.uib-day {
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-day button {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
    color: #000 !important;
}
.uib-day .btn-info {
    background-color: #0055B2 !important;
    color: #fff !important;
}

.uib-month {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-month button {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
    color: #000 !important;
}
.uib-month .btn-info {
    background-color: #0055B2 !important;
    color: #fff !important;
}

.uib-year {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-year button {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
    color: #000 !important;
}
.uib-year .btn-info {
    background-color: #0055B2 !important;
    color: #fff !important;
}

.datetime-picker-dropdown li .btn-group.pull-left .btn-default {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 10px;
    text-align: center !important;
    color: #000;
    margin: 5px;
}

.datetime-picker-dropdown li .btn-group.pull-right .btn-default {
    background-color: #BC2325 !important;
    border: 1px solid #BC2325 !important;
    border-radius: 5px !important;
    padding: 10px;
    text-align: center !important;
    color: #fff;
    margin: 5px;
}

.datetime-picker-dropdown tr th,
.datetime-picker-dropdown tr td {
    border-bottom: none !important;
    border-top: none !important;
}
