@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ###### FONTS ####### */
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
    font-family: 'Poppins', sans-serif;
}
.t-datatable h3,
.t-list h3,
.t-form h3,
.t-detail h3,
.t-search h3,
.t-map h3,
.t-accordion h3,
.t-logincomponent h3,
.t-signupcomponent h3,
.t-profilecomponent h3,
.t-chart h3,
.x-type-resource h3,
.t-kanban h3,
.t-timeline h3,
.t-calendar h3,
.t-html h3,
.t-pivottable h3 {
    font-weight: 500;
    font-size: 2rem;
    color: #181C32;
}

/* ###### GLOBAL COMPONENT SETTINGS ###### */
.t-datatable,
.t-list,
.t-form,
.t-detail,
.t-search,
.t-map,
.t-accordion,
.t-logincomponent,
.t-signupcomponent,
.t-profilecomponent,
.t-chart,
.x-type-resource,
.t-kanban,
.t-timeline,
.t-calendar,
.t-pivottable {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    margin-bottom: 25px;
    padding: 1rem;
}

.t-html {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
    padding: 1rem;
}

/* ############ GLOBALS ############## */
.t-pagecontainer {
    border-top: 1px solid #c7c7c7;
}
.t-pagecontainer .t-row {
    margin-bottom: 25px;
}

/* ###### BACKGROUND ###### */
body {
    background-color: #F6F6F6;
}

/* ###### ALERTS ###### */
.alert-danger {
    background-color: #ff7474;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 25px;
}
.alert-success {
    background-color: #41d170;
    border-radius: 10px;
    color: #ffffff;
    margin-top: 25px;
}

/* ###### USER MENU ####### */
.user-dropdown .dropbtn {
    background-color: #fff;
    color: #555;
    padding: 8px 15px;
    font-size: 14px;
    border: 1px solid #c7c7c7 !important;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 160px;
    border-radius: 5px;
}
.user-dropdown:hover .dropbtn {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.user-dropdown.dropdown.open .dropdown-content, .user-dropdown:hover .dropdown-content {
    display: block;
    background: #fff;
    padding: 0 15px;
    margin-top: -1px;
}
.user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff !important;
    min-width: 100%;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    z-index: 1;
    text-align: left !important;
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px !important
}
.user-dropdown.dropdown.open .dropbtn {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}
.user-dropdown .dropdown-content a {
    padding: 5px 15px;
    font-size: 14px;
    color: #555;
    border-radius: 5px;
}
.user-dropdown .dropdown-content a:hover {
    background-color: #EBF4FB;
    border-radius: 5px;
}

/* ###### TOGGLE CHECKBOX ####### */
input[type="checkbox"] {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}
input[type="checkbox"]::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}
input[type="checkbox"],
input[type="checkbox"]::after {
    transition: all 100ms ease-out;
}
input[type="checkbox"]::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}
input[type="checkbox"] {
    cursor: default;
}
input[type="checkbox"]:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}
input[type="checkbox"]:checked {
    background-color: #3C92DD;
}
input[type="checkbox"]:checked::after {
    background-color: #fff;
    left: 13px;
}
input[type="checkbox"]:checked:hover {
    background-color: #3C92DD !important;
    transition-duration: 0s;
}
input[type="checkbox"]:checked:hover::after {
    background-color: #fff !important;
    left: 13px;
}
input[type="checkbox"]:focus:not(.focus-visible) {
    outline: 0;
}
.tb-checkbox label.text-center.tb-checkbox span {
    margin-left: 10px;
    vertical-align: top;
}
label.text-center.tb-checkbox span {
    margin-left: 10px;
    vertical-align: top;
}
.t-form-checkbox i {
    line-height: 0.75;
    margin-left: 10px;
}
.t-form-checkbox span {
    margin-right: 10px !important;
    margin-left: 3px !important;
}

/* ######## DATE PICKER ####### */
.t-form-date .btn-default {
    background: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    outline: none;
}
.t-form-date .btn-default:hover {
    background-color: #E1E1E1;
    border-color: #000;
}
.t-form-date .btn-default:focus,
.t-form-date .btn-default:active {
    background-color: #fff;
    border-color: #000;
    outline: unset !important;
}
.uib-left {
    background-color: #fff !important;
    border: 1px solid #c7c7c7 !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-left i {
    color: #000 !important;
    margin-left: 0;
}
.uib-title {
    background-color: #fff !important;
    border: 1px solid #c7c7c7 !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
    color: #000 !important;
}
.uib-title i {
    color: #000 !important;
    margin-left: 0;
}
.uib-right {
    background-color: #fff !important;
    border: 1px solid #c7c7c7 !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-right i {
    color: #000 !important;
    margin-left: 0;
}
.uib-day {
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-day button {
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
    color: #000 !important;
}
.uib-day .btn-info {
    background-color: #3C92DD !important;
    color: #fff !important;
}
.uib-month {
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-month button {
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
    color: #000 !important;
}
.uib-month .btn-info {
    background-color: #3C92DD !important;
    color: #fff !important;
}
.uib-year {
    background-color: #fff !important;
    border: 1px solid #c7c7c7 !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
}
.uib-year button {
    background-color: #fff !important;
    border: 1px solid #c7c7c7 !important;
    border-radius: 5px !important;
    padding: 5px;
    text-align: center !important;
    color: #000 !important;
}
.uib-year .btn-info {
    background-color: #3C92DD !important;
    color: #fff !important;
}
.datetime-picker-dropdown li .btn-group.pull-left .btn-default {
    background-color: #fff !important;
    border: 1px solid #c7c7c7 !important;
    border-radius: 5px !important;
    padding: 10px;
    text-align: center !important;
    color: #000;
    margin: 5px;
}
.datetime-picker-dropdown li .btn-group.pull-right .btn-default {
    background-color: #f44336 !important;
    border: 1px solid #f44336 !important;
    border-radius: 5px !important;
    padding: 10px;
    text-align: center !important;
    color: #fff;
    margin: 5px;
}
.datetime-picker-dropdown tr th,
.datetime-picker-dropdown tr td {
    border-bottom: none !important;
    border-top: none !important;
}

/* ###### PAGINATION ####### */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #3C92DD;
    border-color: #3C92DD;
}
.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #3C92DD;
    text-decoration: none;
    background-color: #F7F7F7;
    border: 1px solid #c7c7c7;
}
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #3C92DD;
    background-color: #eee;
    border-color: #ddd;
}

/* ###### TABLE ACTIONS ###### */
.table-actions {
    background: transparent !important;
    border: none !important;
    padding: 5px 0 !important;
    margin: 8px 0;
}
.table-actions .pull-left .btn-sm {
    margin-left: 0px;
}
.table-actions button.btn.btn-default {
    background: none;
    color: #0000008f;
    border: 1px solid #cccccc;
    box-shadow: none;
}
.table-actions button.btn.btn-default:focus {
    outline: none;
}
.table-actions button.btn.btn-default:active {
    box-shadow: none;
}
.table-actions .input-group {
    margin-right: 5px;
}
.table-actions .form-control {
    color: #000;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 0.60rem;
    box-shadow: none;
}
.table-actions .form-control:focus {
    color: #000;
    background-color: #fff;
    border: 2px solid #3C92DD !important;
    border-radius: 0.60rem;
    box-shadow: none;
}

/* ###### BREADCRUMBS ####### */
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #c7c7c7 !important;
}

/* ###### FILTER TABS ###### */
.filter-tabs {
    background-color: transparent !important;
}
.filter-tabs .nav-tabs {
    border: none !important;
}
.filter-tabs .nav li a {
    border-radius: 5px !important;
    padding: 3px 10px !important;
    opacity: 0.5 !important;
}
.filter-tabs .nav-tabs .active a,
body .nav-tabs .active.tab-colored a {
    font-weight: 700 !important;
    padding: 3px 10px !important;
    margin-top: 0 !important;
    opacity: 1.0 !important;
}

/* ###### MENU ###### */
@media (min-width: 768px) {
    .app {
        margin-top: 1rem;
    }

    .x-menu-style-vertical {
        bottom: 0;
        top: 0;
        left: 0;
        height: 97vh;
        margin-top: 1rem;
        overflow: inherit;
        position: fixed;
        width: 225px;
        z-index: 1039;
    }
    .x-menu-style-vertical .dropdown-submenu:hover>.dropdown-menu {
        display: none;
    }
    .x-menu-style-vertical .dropdown-menu>li>a {
        background: #fff;
    }
    .x-menu-style-vertical .navbar {
        background: #fff;
        border-radius: 8px;
        margin-left: 15px;
        border: 1px solid #c7c7c7;
        height: 100%;
        padding: 1rem 0;
    }
    .x-menu-style-vertical .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
    .x-menu-style-vertical .navbar-nav li a {
        padding: 10px 5px;
    }

    .x-menu-style-horizontal .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }
     .navbar-nav li a {
        padding: 5px 8px !important;
        width: 100% !important;
    }
    .x-menu-style-horizontal .navbar-nav li {
        margin: 5px;
    }
    .x-menu-style-horizontal .navbar {
        background: #fff;
        border-radius: 8px;
        border: 1px solid #c7c7c7;
        height: 100%;
        padding: 0;
        margin-top: 5px;
    }
    .x-menu-style-horizontal .dropdown-submenu>a:after {
        position: absolute;
        display: inline-block;
        font-size: 14px;
        right: -7px;
        font-family: "Font Awesome 5 Pro";
        height: auto;
        content: "\f107";
        font-weight: 300;
    }
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    padding: 10px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar li a {
    color: #555 !important;
    border: 3px solid transparent;
    height: 100%;
}
.navbar-default .navbar-nav li a:hover {
    text-decoration: none;
    color: #3C92DD !important;
    border-bottom: 3px solid #3C92DD;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    text-decoration: none;
    color: #3C92DD !important;
    border-bottom: 3px solid #3C92DD;
    background-color: transparent !important;
    outline: 0;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    text-decoration: none;
    color: #3C92DD !important;
    border-bottom: 3px solid #3C92DD;
    background-color: transparent !important;
    outline: 0;
}

/* ####### LIST ####### */
.pad-0 { /*loads in tables - adjusted here for compatability with lists */
    margin: 0px !important;
    padding: 0px !important;
}
.list-row-item.list-layout-bordered-box {
    padding: 0px !important;
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    margin: 5px;
}
.list-row-item {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #c7c7c7;
    margin-top: 1px !important;
    margin-bottom: 25px !important;
    padding: 0px;
    overflow: hidden;
}
.list-cover .img-responsive {
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.list-body {
    padding: 1rem;
}

/* ###### TABLES ######  */
.t-datatable .table-wrap {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #c7c7c7;
    background-color: transparent;
}
.t-datatable .table-wrap>.table tr {
    color: #555;
    background-color: #ffffff;
}
.t-datatable .table-wrap>.table tr:hover {
    color: #555;
    background-color: #EBF4FB;
}
.t-datatable table>thead>tr>th {
    color: #555 !important;
    vertical-align: bottom;
    background: #F7F7F7;
    border: none;
}
.t-datatable table tbody tr:first-child td {
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.t-datatable table tbody tr:not(:first-child) td {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #c7c7c7;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.t-datatable .input-group input.form-control.input-sm.padder {
    border-right: none;
    border: 1px solid #ddd;
    box-shadow: unset;
}
.t-datatable .input-group-btn {
    border: 1px solid #ddd;
    background: none;
    border-left: none;
}
.t-datatable .input-group-btn .btn {
    background: none;
    color: #ddd;
    padding: 0 10px;
}
.t-datatable .input-group-btn .btn:focus {
    outline: none;
}
.t-datatable .input-group-btn .btn:active {
    box-shadow: none;
}
.t-datatable table > thead > tr > th:first-child {
    border-radius: 8px 0 0 0;
}
.t-datatable table > thead > tr > th:last-child {
    border-radius: 0 8px 0 0;
}
.t-datatable table > tbody > tr:last-child > td:first-child {
    border-radius: 0 0 0 8px;
}
.t-datatable table > tbody > tr:last-child > td:last-child {
    border-radius: 0 0 8px 0;
}
.table-bordered {
    border: none;
}

/* ###### FORMS ###### */
.t-form .form-control {
    color: #000;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 0.60rem;
    box-shadow: none;
}
.t-form .form-control:focus {
    color: #000;
    background-color: #fff;
    border: 2px solid #3C92DD !important;
    border-radius: 0.60rem;
    box-shadow: none;
}
.select2-container--classic .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    outline: 0;
    background-image: none !important;
    background-repeat: repeat-x;
    filter: none !important;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: none !important;
    background-repeat: repeat-x;
    filter: none !important;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #555 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.record-selector.drop-down-list .record-search-box {
    margin: 0 15px 10px;
}
.record-search-box {
    position: relative;
    border-bottom: none !important;
    margin-bottom: 10px;
}
.record-search-box input {
    border: none;
    box-shadow: none;
    padding: 8px 10px;
}
.record-selector.drop-down-list {
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    padding: 20px 0;
}
.record-search-list-item {
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    min-height: 50px;
    margin-bottom: 15px;
}
.table-hover>thead>tr>td {
    border-top: 1px solid #ddd !important;
}
.table-hover>tbody>tr:hover {
    background-color: #EBF4FB;
}
.t-ctrl-record-selector .unlink-record {
    background-color: #c7c7c7 !important;
    border-radius: 5px !important;
    color: #fff;
    width: 65px !important;
    height: 20px !important;
    font-size: 13px;
    text-align: center;
    padding-top: 1px;
}
.unlink-record .fa-minus:before {
    content: "Remove";
    font-family: "Poppins";
}
.record-search-list-item:hover {
    cursor: unset !important;
}
.record-search-list-item:hover .unlink-record {
    background-color: #CD574C !important;
    cursor: pointer !important;
}
.record-search-type-table tr:hover .unlink-record {
    background-color: #CD574C !important;
    cursor: pointer !important;
}
.record-search-type-table .unlink-record  {
    margin: auto;
}
.t-ctrl-record-selector .record-search-list-item .unlink-record i {
    position: absolute;
    left: 8px !important;
    top: 3px !important;
}
.t-form-name table {
    width: 100%;
}

/* ###### DETAIL ###### */
.t-detail .form-group:not(:last-child) {
    border-bottom: 1px solid #dbdfea;
    padding-bottom: 25px;
}

/* ###### CALENDAR ###### */
.t-calendar a {
    color: #7367f0;
}
.t-calendar .modal-footer {
    display: unset !important;
}

/* ###### CARD ###### */
.t-card {
    margin: 25px 0;
}

/* ###### BUTTONS ###### */
.t-refresh-button {
    margin-left: 0px;
    margin-right: 5px;
}
.t-filter-button {
    margin-left: 0px;
    margin-right: 5px;
}
.t-new-record-button {
    margin-left: 0px;
    margin-right: 5px;
}
.t-batch-button {
    margin-left: 0px;
    margin-right: 5px;
}
.t-delete-button {
    margin-left: 0px;
    margin-right: 5px;
}
.t-export-button {
    margin-left: 0px;
    margin-right: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-group .dropdown-toggle {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px !important;
}

.btn-primary i,
.btn-success i,
.btn-info i,
.btn-danger i {
    color: #fff !important;
}
.btn-default i,
.btn-warning i {
    color: #000;

}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* ###### DEFAULT ###### */
.btn-default,
.btn.btn-default {
    color: #000;
    background-color: #fff;
    border-color: #000;
    outline: unset !important;
    border-radius: 5px;
}
.btn-default:hover,
.btn.btn-default:hover {
    color: #000;
    background-color: #E1E1E1;
    border-color: #000;
}
.btn-default:focus,
.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:active {
    color: #000;
    background-color: #E1E1E1;
    border-color: #000;
    outline: unset !important;
}

/* ###### PRIMARY ###### */
.btn-primary,
.btn.btn-primary {
    color: #ffffff;
    background-color: #3C92DD;
    border-color: #3C92DD;
    outline: unset !important;
    border-radius: 5px;
}
.btn-primary:hover,
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #2678c0;
    border-color: #2678c0;
}
.btn-primary:focus,
.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    color: #ffffff !important;
    background-color: #2678c0 !important;
    border-color: #2678c0 !important;
    outline: unset !important;
}

/* ###### SUCCESS ###### */
.btn-success,
.btn.btn-success {
    color: #ffffff;
    background-color: #5E8D6E;
    border-color: #40694E;
    outline: unset !important;
    border-radius: 5px;
}
.btn-success:hover,
.btn.btn-success:hover {
    color: #ffffff;
    background-color: #40694E;
    border-color: #40694E;
}
.btn-success:focus,
.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:active {
    color: #ffffff;
    background-color: #40694E;
    border-color: #40694E;
    outline: unset !important;
}

/* ###### INFO ###### */
.btn-info,
.btn.btn-info {
    color: #ffffff;
    background-color: #6875D9;
    border-color: #515EBD;
    outline: unset !important;
    border-radius: 5px;
}
.btn-info:hover,
.btn.btn-info:hover {
    color: #ffffff;
    background-color: #515EBD;
    border-color: #515EBD;
}
.btn-info:focus,
.btn-info:active,
.btn.btn-info:focus,
.btn.btn-info:active {
    color: #ffffff;
    background-color: #515EBD;
    border-color: #515EBD;
    outline: unset !important;
}

/* ###### WARNING ###### */
.btn-warning,
.btn.btn-warning {
    color: #000;
    background-color: #F4A125;
    border-color: #DA7D16;
    outline: unset !important;
    border-radius: 5px;
}
.btn-warning:hover,
.btn.btn-warning:hover {
    color: #000;
    background-color: #DA7D16;
    border-color: #DA7D16;
}
.btn-warning:active,
.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning:focus {
    color: #000;
    background-color: #DA7D16;
    border-color: #DA7D16;
    outline: unset !important;
}

/* ###### DANGER ###### */
.btn-danger,
.btn.btn-danger {
    color: #ffffff;
    background-color: #CD574C;
    border-color: #AC3A32;
    outline: unset !important;
    border-radius: 5px;
}
.btn-danger:hover,
.btn.btn-danger:hover {
    color: #ffffff;
    background-color: #AC3A32;
    border-color: #AC3A32;
}
.btn-danger:focus,
.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-danger:active {
    color: #ffffff;
    background-color: #AC3A32;
    border-color: #AC3A32;
    outline: unset !important;
}

/* ###### BUTTONS OUTLINED ###### */
/* ###### PRIMARY OUTLINED ###### */
.btn-outline.btn-primary i {
    color: #3C92DD !important;
}
.btn-outline.btn-primary:hover i {
    color: #fff !important;
}

.btn-outline.btn-primary,
.btn-outline.btn.btn-primary {
    color: #3C92DD;
    background-color: #fff;
    border-color: #3C92DD;
    outline: unset !important;
    border-radius: 5px;
}
.btn-primary:hover,
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #2678c0;
    border-color: #2678c0;
}
.btn-primary:focus,
.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:active {
    color: #ffffff !important;
    background-color: #2678c0 !important;
    border-color: #2678c0 !important;
    outline: unset !important;
}

/* ###### SUCCESS OUTLINED ###### */
.btn-outline.btn-success i {
    color: #5E8D6E !important;
}
.btn-outline.btn-success:hover i {
    color: #fff !important;
}

.btn-outline.btn-success,
.btn-outline.btn.btn-success {
    color: #5E8D6E;
    background-color: #fff;
    border-color: #40694E;
    outline: unset !important;
    border-radius: 5px;
}
.btn-success:hover,
.btn.btn-success:hover {
    color: #ffffff;
    background-color: #40694E;
    border-color: #40694E;
}
.btn-success:focus,
.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:active {
    color: #ffffff;
    background-color: #40694E;
    border-color: #40694E;
    outline: unset !important;
}

/* ###### INFO OUTLINED ###### */
.btn-outline.btn-info i {
    color: #6875D9 !important;
}
.btn-outline.btn-info:hover i {
    color: #fff !important;
}

.btn-outline.btn-info,
.btn-outline.btn.btn-info {
    color: #6875D9;
    background-color: #fff;
    border-color: #515EBD;
    outline: unset !important;
    border-radius: 5px;
}
.btn-info:hover,
.btn.btn-info:hover {
    color: #ffffff;
    background-color: #515EBD;
    border-color: #515EBD;
}
.btn-info:focus,
.btn-info:active,
.btn.btn-info:focus,
.btn.btn-info:active {
    color: #ffffff;
    background-color: #515EBD;
    border-color: #515EBD;
    outline: unset !important;
}

/* ###### WARNING OUTLINED ###### */
.btn-outline.btn-warning i {
    color: #F4A125 !important;
}
.btn-outline.btn-warning:hover i {
    color: #000 !important;
}

.btn-outline.btn-warning,
.btn-outline.btn.btn-warning {
    color: #F4A125;
    background-color: #fff;
    border-color: #DA7D16;
    outline: unset !important;
    border-radius: 5px;
}
.btn-warning:hover,
.btn.btn-warning:hover {
    color: #000;
    background-color: #DA7D16;
    border-color: #DA7D16;
}
.btn-warning:active,
.btn-warning:focus,
.btn.btn-warning:active,
.btn.btn-warning:focus {
    color: #000;
    background-color: #DA7D16;
    border-color: #DA7D16;
    outline: unset !important;
}

/* ###### DANGER OUTLINED ###### */
.btn-outline.btn-danger i {
    color: #CD574C !important;
}
.btn-outline.btn-danger:hover i {
    color: #fff !important;
}

.btn-outline.btn-danger,
.btn-outline.btn.btn-danger {
    color: #CD574C;
    background-color: #fff;
    border-color: #AC3A32;
    outline: unset !important;
    border-radius: 5px;
}
.btn-danger:hover,
.btn.btn-danger:hover {
    color: #ffffff;
    background-color: #AC3A32;
    border-color: #AC3A32;
}
.btn-danger:focus,
.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-danger:active {
    color: #ffffff;
    background-color: #AC3A32;
    border-color: #AC3A32;
    outline: unset !important;
}